<!-- @format -->

<template>
  <v-container fluid>
    <h4 class="text-h4">
      {{ t('routes.company.title') }}
    </h4>
    <span class="text-subtitle-1">
      {{ t('routes.company.subtitle') }}
    </span>
    <router-view v-slot="{ Component }">
      <v-scroll-x-transition>
        <component :is="Component" />
      </v-scroll-x-transition>
    </router-view>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>
