<!-- @format -->

<template>
  <v-container>
    <v-card prepend-icon="mdi-badge-account-horizontal-outline">
      <template #title>
        {{ t('header') }}
      </template>
      <v-form v-model="form.valid" @submit.prevent="create">
        <v-card-text>
          <v-alert
            v-if="form.message"
            class="mb-4"
            type="error"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                name="Type"
                :label="t('fields.type.label')"
                :items="types"
              />
            </v-col>
            <v-col cold="12" md="4">
              <v-text-field
                v-model="form.firstName"
                name="FirstName"
                :label="t('fields.firstName')"
              ></v-text-field>
            </v-col>
            <v-col cold="12" md="4">
              <v-text-field
                v-model="form.lastName"
                name="LastName"
                :label="t('fields.lastName')"
                :rules="rules.lastName"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-divider class="mb-4" />
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                name="CompanyName"
                :label="t('fields.companyName')"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.displayName"
                name="DisplayName"
                :label="t('fields.displayName')"
                :rules="rules.displayName"
                @focusin="setDisplayName"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                name="Email"
                :label="t('fields.email')"
                :rules="rules.email"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="3">
              <v-text-field name="Title" :label="t('fields.title')" />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field name="Phone" :label="t('fields.phone')" />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field name="Mobile" :label="t('fields.mobile')" />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field name="Website" :label="t('fields.website')" />
            </v-col>
          </v-row>
          <v-divider class="mb-4" />
          <v-row>
            <v-col cols="12">
              <span class="text-subtitle-2">
                {{ t('fields.transaction') }}
              </span>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.currency"
                name="CurrencyId"
                :label="t('fields.currency')"
                :items="company.currenciesToSelect"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                name="TaxId"
                :label="t('fields.tax')"
                :items="company.taxesToSelect"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                name="PaymentTermId"
                :label="t('fields.paymentTerm')"
                :items="company.paymentTermsToSelect"
              />
            </v-col>
            <v-col cols="6">
              <v-row>
                <v-col cols="12">
                  <span class="text-subtitle-2">
                    {{ t('fields.billingAddress') }}
                  </span>
                </v-col>
              </v-row>
              <form-address prefix="BillingAddress" />
              <v-checkbox
                v-model="form.billingIsShipping"
                name="BillingIsShipping"
                :label="t('fields.billingIsShipping')"
              />
            </v-col>
            <v-divider v-if="!form.billingIsShipping" :vertical="true" />
            <v-expand-transition>
              <v-col v-if="!form.billingIsShipping" cols="6">
                <v-row>
                  <v-col cols="12">
                    <span class="text-subtitle-2">
                      {{ t('fields.shippingAddress') }}
                    </span>
                  </v-col>
                </v-row>
                <form-address prefix="ShippingAddress" />
              </v-col>
            </v-expand-transition>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-textarea
                name="Remarks"
                :label="t('fields.remarks')"
                :counter="255"
                rows="3"
                row-height="25"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import FormActions from '@/components/FormActions.vue';
  import FormAddress from '@/components/FormAddress.vue';
  import { reactive } from 'vue';
  import companyStore from '@/stores/companyStore';
  import customerStore from '@/stores/customerStore';
  import { useRouter } from 'vue-router';

  const company = companyStore();
  const store = customerStore();
  const { t } = useI18n();
  const types = [
    {
      title: t('fields.type.business'),
      value: 0
    },
    {
      title: t('fields.type.individual'),
      value: 1
    }
  ];
  const form = reactive<{
    valid: boolean;
    loading: boolean;
    firstName: string | null;
    lastName: string | null;
    displayName: string | null;
    currency: string | null;
    message: string | null;
    billingIsShipping: boolean;
  }>({
    valid: false,
    loading: false,
    firstName: null,
    lastName: null,
    displayName: null,
    currency: company.defaultCurrency?.id ?? null,
    message: null,
    billingIsShipping: true
  });
  const setDisplayName = () => {
    if (form.displayName === null || form.displayName === '')
      form.displayName = `${form.firstName ?? ''} ${
        form.lastName ?? ''
      }`.trim();
  };

  const rules = {
    lastName: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    displayName: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    company: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    email: [
      (v: string) =>
        v === '' ||
        new RegExp(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}])|(([a-zA-Z\-\d]+\.)+[a-zA-Z]{2,}))$/
        ).test(v) ||
        t('validation.email')
    ]
  };
  const router = useRouter();
  const create = async event => {
    form.loading = true;
    form.message = null;
    const response = await store.create(new FormData(event.target));
    if (response.success) return await router.push('/sales/customers');
    form.message = response.message;
    form.loading = false;
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Register Customer",
  "subtitle": "Manage the entities that buy goods or services from your business",
  "header": "Register a new Customer",
  "fields": {
    "type": {
      "label": "Customer Type",
      "business": "Business",
      "individual": "Individual"
    },
    "firstName": "First Name",
    "lastName": "Last Name",
    "displayName": "Display Name",
    "companyName": "Company Name",
    "email": "Email",
    "title": "Title",
    "phone": "Phone",
    "mobile": "Mobile",
    "website": "Website",
    "currency": "Currency",
    "remarks": "Remarks",
    "tax": "Tax",
    "paymentTerm": "Payment Term",
    "transaction": "Transaction Information",
    "billingAddress": "Billing Address",
    "shippingAddress": "Shipping Address",
    "billingIsShipping": "Billing Address is Shipping Address"
  },
  "validation": {
    "required": "This field cannot be empty",
    "email": "Please enter a valid email address",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Registrar Client",
  "subtitle": "Administre las entidades que compran productos o servicios de su empresa",
  "header": "Registrar un nuevo Cliente",
  "fields": {
    "type": {
      "label": "Tipo de Cliente",
      "business": "Empresa",
      "individual": "Individual"
    },
    "firstName": "Nombre",
    "lastName": "Apellido",
    "displayName": "Nombre de Pantalla",
    "companyName": "Nombre de la Empresa",
    "email": "Correo Electrónico",
    "title": "Título",
    "phone": "Teléfono",
    "mobile": "Móvil",
    "website": "Sitio Web",
    "currency": "Moneda",
    "remarks": "Observaciones",
    "tax": "Impuesto",
    "paymentTerm": "Término de Pago",
    "transaction": "Información de Transacción",
    "billingAddress": "Dirección de Facturación",
    "shippingAddress": "Dirección de Envío",
    "billingIsShipping": "Dirección de Facturación es Dirección de Envío"
  },
  "validation": {
    "required": "Este campo es requerido",
    "email": "Este campo debe ser un correo electrónico válido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
