<!-- @format -->

<template>
  <v-container>
    <div class="d-flex align-center justify-end">
      <v-btn
        tag="router-link"
        to="/sales/customers/create"
        icon="mdi-plus"
        color="primary"
        size="large"
      />
    </div>
    <v-card v-if="store.any" class="mt-4">
      <v-table>
        <thead>
          <tr>
            <th class="text-left">
              {{ t('fields.type.label') }}
            </th>
            <th class="text-left">
              {{ t('fields.displayName') }}
            </th>
            <th class="text-left">
              {{ t('fields.companyName') }}
            </th>
            <th class="text-left">
              {{ t('fields.email') }}
            </th>
            <th>
              {{ t('actions.label') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="customer in store.customers" :key="customer.id">
            <td class="text-left">
              {{ t(`fields.type.${customer.type}`) }}
            </td>
            <td class="text-left">
              {{ customer.displayName }}
            </td>
            <td class="text-left">
              {{ customer.companyName }}
            </td>
            <td class="text-left">
              <a :href="`mailto:${customer.email}`" class="text-primary">
                {{ customer.email }}
              </a>
            </td>
            <td>
              <v-menu location="start">
                <template #activator="{ props }">
                  <v-btn
                    color="primary"
                    variant="text"
                    icon="mdi-dots-vertical"
                    v-bind="props"
                  />
                </template>
                <v-list>
                  <v-list-item :to="`edit/${customer.id}`">
                    <v-list-item-title>
                      {{ t('actions.edit') }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div
      v-if="!store.any"
      class="fill-height d-flex flex-column align-center justify-center"
    >
      <v-img :src="emptyBox" width="200" />
      <v-container class="d-flex flex-column justify-center align-center">
        <div class="mb-4">
          <span>
            {{ t('empty') }}
          </span>
        </div>
        <v-btn
          tag="router-link"
          to="/sales/customers/create"
          append-icon="mdi-plus"
          color="primary"
        >
          {{ t('create') }}
        </v-btn>
      </v-container>
    </div>
  </v-container>
</template>

<script setup="ts">
  import { useI18n } from 'vue-i18n';
  import emptyBox from '@/assets/img/empty-box.svg';
  import customerStore from '@/stores/customerStore';
  import { onMounted } from 'vue';

  const { t } = useI18n();
  const store = customerStore();
  onMounted(async () => {
    if (store.refresh) await store.download();
  });
</script>

<i18n locale="en" lang="json">
{
  "title": "Customer List",
  "subtitle": "Manage the entities that buy goods or services from your business",
  "empty": "We couldn't find any customer associated to this company",
  "create": "Register Customer",
  "fields": {
    "type": {
      "label": "Customer Type",
      "0": "Business",
      "1": "Individual"
    },
    "displayName": "Client Name",
    "companyName": "Company Name",
    "email": "Email"
  },
  "actions": {
    "edit": "Edit",
    "label": "Actions"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Lista de Clientes",
  "subtitle": "Administre las entidades que compran productos o servicios de su empresa",
  "empty": "No se encontraron clientes asociados a esta empresa",
  "create": "Registrar Cliente",
  "fields": {
    "type": {
      "label": "Tipo de Cliente",
      "0": "Empresa",
      "1": "Individual"
    },
    "displayName": "Nombre del Cliente",
    "companyName": "Nombre de la Empresa",
    "email": "Email"
  },
  "actions": {
    "edit": "Editar",
    "label": "Acciones"
  }
}
</i18n>
