<!-- @format -->

<template>
  <v-container>
    <v-card prepend-icon="mdi-badge-account-horizontal-outline">
      <template #title>
        {{ t('header') }}
      </template>
      <v-form v-if="form.customer" v-model="form.valid" @submit.prevent="edit">
        <v-card-text>
          <v-alert
            v-if="form.message"
            class="mb-4"
            type="error"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.customer.type"
                name="Type"
                :label="t('fields.type.label')"
                :items="types"
              />
            </v-col>
            <v-col cold="12" md="4">
              <v-text-field
                v-model="form.customer.firstName"
                name="FirstName"
                :label="t('fields.firstName')"
              />
            </v-col>
            <v-col cold="12" md="4">
              <v-text-field
                v-model="form.customer.lastName"
                name="LastName"
                :label="t('fields.lastName')"
                :rules="rules.lastName"
              />
            </v-col>
          </v-row>
          <v-divider class="mb-4" />
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.customer.companyName"
                name="CompanyName"
                :label="t('fields.companyName')"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.customer.displayName"
                name="DisplayName"
                :label="t('fields.displayName')"
                :rules="rules.displayName"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.customer.email"
                name="Email"
                :label="t('fields.email')"
                :rules="rules.email"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <span class="text-subtitle-2">
                {{ t('fields.transaction') }}
              </span>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.customer.title"
                name="Title"
                :label="t('fields.title')"
              />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.customer.workPhone"
                name="Phone"
                :label="t('fields.phone')"
              />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.customer.mobilePhone"
                name="Mobile"
                :label="t('fields.mobile')"
              />
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.customer.website"
                name="Website"
                :label="t('fields.website')"
              />
            </v-col>
          </v-row>
          <v-divider class="mb-4" />
          <v-row>
            <v-col cols="12">
              <span class="text-subtitle-2">
                {{ t('fields.transaction') }}
              </span>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.customer.currencyId"
                name="CurrencyId"
                :label="t('fields.currency')"
                :items="company.currenciesToSelect"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.customer.taxId"
                name="TaxId"
                :label="t('fields.tax')"
                :items="company.taxesToSelect"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.customer.paymentTermId"
                name="PaymentTermId"
                :label="t('fields.paymentTerm')"
                :items="company.paymentTermsToSelect"
              />
            </v-col>
            <v-col cols="6">
              <v-row>
                <v-col cols="12">
                  <span class="text-subtitle-2">
                    {{ t('fields.billingAddress') }}
                  </span>
                </v-col>
              </v-row>
              <form-address
                v-model="form.customer.billingAddress"
                prefix="BillingAddress"
              />
              <v-checkbox
                v-model="form.billingIsShipping"
                name="BillingIsShipping"
                :label="t('fields.billingIsShipping')"
              />
            </v-col>
            <v-divider v-if="!form.billingIsShipping" :vertical="true" />
            <v-expand-transition>
              <v-col v-if="!form.billingIsShipping" cols="6">
                <v-row>
                  <v-col cols="12">
                    <span class="text-subtitle-2">
                      {{ t('fields.shippingAddress') }}
                    </span>
                  </v-col>
                </v-row>
                <form-address
                  v-model="form.customer.shippingAddress"
                  prefix="ShippingAddress"
                />
              </v-col>
            </v-expand-transition>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-textarea
                v-model="form.customer.remarks"
                name="Remarks"
                :label="t('fields.remarks')"
                :counter="255"
                rows="3"
                row-height="25"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import FormActions from '@/components/FormActions.vue';
  import FormAddress from '@/components/FormAddress.vue';
  import { onMounted, reactive } from 'vue';
  import companyStore from '@/stores/companyStore';
  import customerStore from '@/stores/customerStore';
  import { useRoute, useRouter } from 'vue-router';

  const company = companyStore();
  const store = customerStore();
  const { t } = useI18n();
  const types = [
    {
      title: t('fields.type.business'),
      value: 0
    },
    {
      title: t('fields.type.individual'),
      value: 1
    }
  ];
  const form = reactive<{
    valid: boolean;
    loading: boolean;
    customer: Customer | null;
    message: string | null;
    billingIsShipping: boolean;
  }>({
    valid: false,
    loading: false,
    customer: null,
    message: null,
    billingIsShipping: true
  });
  const rules = {
    lastName: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    displayName: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    company: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    email: [
      (v: string) =>
        v === '' ||
        new RegExp(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}])|(([a-zA-Z\-\d]+\.)+[a-zA-Z]{2,}))$/
        ).test(v) ||
        t('validation.email')
    ]
  };
  const { id } = useRoute().params;
  onMounted(async () => {
    form.customer = store.get(id as string);
    if (company.refreshCurrencies) await company.downloadCurrencies();
    if (company.refreshTaxes) await company.downloadTaxes();
    if (company.refreshPaymentTerms) await company.downloadPaymentTerms();
    if (form.customer === null) return;
    form.billingIsShipping =
      (form.customer.billingAddress === null &&
        form.customer.shippingAddress === null) ||
      (form.customer.billingAddress !== null &&
        form.customer.shippingAddress === null);
    const defaultAddress = {
      country: null,
      city: null,
      state: null,
      street: null,
      zipCode: null
    };
    if (form.customer.billingAddress === null)
      form.customer.billingAddress = { ...defaultAddress };
    if (form.customer.shippingAddress === null)
      form.customer.shippingAddress = { ...defaultAddress };
  });
  const router = useRouter();
  const edit = async event => {
    form.loading = true;
    form.message = null;
    const response = await store.edit(id as string, new FormData(event.target));
    if (response.success) return await router.push('/sales/customers');
    form.message = response.message;
    form.loading = false;
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Register Customer",
  "subtitle": "Manage the entities that buy goods or services from your business",
  "header": "Register a new Customer",
  "fields": {
    "type": {
      "label": "Customer Type",
      "business": "Business",
      "individual": "Individual"
    },
    "firstName": "First Name",
    "lastName": "Last Name",
    "displayName": "Display Name",
    "companyName": "Company Name",
    "email": "Email",
    "title": "Title",
    "phone": "Phone",
    "mobile": "Mobile",
    "website": "Website",
    "currency": "Currency",
    "remarks": "Remarks",
    "tax": "Tax",
    "paymentTerm": "Payment Term",
    "transaction": "Transaction Information",
    "billingAddress": "Billing Address",
    "shippingAddress": "Shipping Address",
    "billingIsShipping": "Billing Address is Shipping Address"
  },
  "validation": {
    "required": "This field cannot be empty",
    "email": "Please enter a valid email address",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Registrar Client",
  "subtitle": "Administre las entidades que compran productos o servicios de su empresa",
  "header": "Registrar un nuevo Cliente",
  "fields": {
    "type": {
      "label": "Tipo de Cliente",
      "business": "Empresa",
      "individual": "Individual"
    },
    "firstName": "Nombre",
    "lastName": "Apellido",
    "displayName": "Nombre de Pantalla",
    "companyName": "Nombre de la Empresa",
    "email": "Correo Electrónico",
    "title": "Título",
    "phone": "Teléfono",
    "mobile": "Móvil",
    "website": "Sitio Web",
    "currency": "Moneda",
    "remarks": "Observaciones",
    "tax": "Impuesto",
    "paymentTerm": "Término de Pago",
    "transaction": "Información de Transacción",
    "billingAddress": "Dirección de Facturación",
    "shippingAddress": "Dirección de Envío",
    "billingIsShipping": "Dirección de Facturación es Dirección de Envío"
  },
  "validation": {
    "required": "Este campo es requerido",
    "email": "Este campo debe ser un correo electrónico válido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
