<!-- @format -->

<template>
  <v-container class="fill-height">
    <div class="d-flex align-center justify-end">
      <v-btn
        tag="router-link"
        to="/item-units/create"
        icon="mdi-chart-box-plus-outline"
        color="primary"
        size="large"
      />
    </div>
    <v-card v-if="store.any" class="mt-4">
      <v-table>
        <thead>
          <tr>
            <th class="text-left">
              {{ t('fields.name') }}
            </th>
            <th class="text-left">
              {{ t('fields.description') }}
            </th>
            <th>
              {{ t('actions.label') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="unit in store.toTable" :key="unit.name">
            <td class="text-left">
              {{ unit.name }}
            </td>
            <td class="text-left">
              {{ unit.description }}
            </td>
            <td>
              <v-menu location="start">
                <template #activator="{ props }">
                  <v-btn
                    color="primary"
                    variant="text"
                    icon="mdi-dots-vertical"
                    v-bind="props"
                  />
                </template>
                <v-list>
                  <v-list-item :to="`edit/${unit.id}`" active-color="primary">
                    <v-list-item-title>
                      {{ t('actions.edit') }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div
      v-if="!store.any"
      class="fill-height d-flex flex-column align-center justify-center"
    >
      <v-img :src="emptyBox" width="200" />
      <v-container class="d-flex flex-column justify-center align-center">
        <div class="mb-4">
          <span>
            {{ t('empty') }}
          </span>
        </div>
        <v-btn
          tag="router-link"
          to="/item-units/create"
          append-icon="mdi-chart-box-plus-outline"
          color="primary"
        >
          {{ t('create') }}
        </v-btn>
      </v-container>
    </div>
  </v-container>
</template>

<script setup lang="ts">
  import emptyBox from '@/assets/img/empty-box.svg';
  import unitStore from '@/stores/unitStore';
  import { useI18n } from 'vue-i18n';
  import { onMounted } from 'vue';

  const { t } = useI18n();

  const store = unitStore();

  onMounted(async () => {
    if (store.refresh) await store.download();
  });
</script>

<i18n locale="en" lang="json">
{
  "title": "Unit List",
  "create": "Register Unit",
  "actions": {
    "label": "Actions",
    "edit": "Edit",
    "delete": "Delete"
  },
  "fields": {
    "name": "Unit Name",
    "description": "Description"
  },
  "empty": "We couldn't find any units associated with this company"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Lista de Unidades",
  "create": "Registrar Unidad",
  "actions": {
    "label": "Acciones",
    "edit": "Editar",
    "delete": "Eliminar"
  },
  "fields": {
    "name": "Nombre de la Unidad",
    "description": "Descripción"
  },
  "empty": "We couldn't find any units associated with this company"
}
</i18n>
