<!-- @format -->

<template>
  <div>
    <v-container fluid>
      <h4 class="text-h4">
        {{ t('title') }}
      </h4>
      <span class="text-subtitle-1">
        {{ t('subtitle') }}
      </span>
    </v-container>
    <router-view v-slot="{ Component }">
      <v-scroll-x-transition>
        <component :is="Component" />
      </v-scroll-x-transition>
    </router-view>
  </div>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Units",
  "subtitle": "The items are measured in terms of units. Use units to keep track of how much stock your inventory holds"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Unidades",
  "subtitle": "Los artículos son medidos en unidades. Usa las unidades para controlar  las existencias de tu inventario"
}
</i18n>
