<!-- @format -->

<template>
  <v-container>
    <v-card prepend-icon="mdi-chart-box-plus-outline" class="mt-4">
      <template #title>
        {{ t('header') }}
      </template>
      <v-form v-model="form.valid" @submit.prevent="create">
        <v-card-text>
          <v-alert
            v-if="form.message"
            class="mb-6"
            type="error"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                name="Name"
                required
                :rules="rules.name"
                :label="t('fields.name')"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="Description"
                :rules="rules.description"
                :label="t('fields.description')"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import unitStore from '@/stores/unitStore';
  import { reactive } from 'vue';
  import FormActions from '@/components/FormActions.vue';
  import { useRouter } from 'vue-router';

  const { t } = useI18n();
  const store = unitStore();
  const router = useRouter();

  const form: {
    valid: boolean;
    message: string | null;
    loading: boolean;
  } = reactive({
    valid: false,
    message: null,
    loading: false
  });

  const rules = {
    name: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length < 32 || t('validation.maxLength', { length: 32 })
    ],
    description: [
      (v: string) => v.length < 64 || t('validation.maxLength', { length: 64 })
    ]
  };
  const create = async event => {
    form.loading = true;
    form.message = null;
    const response = await store.create(new FormData(event.target));
    if (response.success) await router.push('/item-units');
    form.message = response.message;
    form.loading = false;
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Register Unit",
  "header": "Register a new Unit",
  "fields": {
    "name": "Unit Name",
    "description": "Description"
  },
  "validation": {
    "required": "This field cannot be empty",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Registrar Unidad",
  "header": "Registrar una nueva Unidad",
  "fields": {
    "name": "Nombre de la Unidad",
    "description": "Descripción"
  },
  "validation": {
    "required": "Este campo es requerido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
