<!-- @format -->

<template>
  <v-navigation-drawer
    v-model="options"
    :temporary="true"
    location="right"
    :floating="preferences.getLayout.fixed"
    :color="preferences.getLayout.fixed ? 'background' : 'surface'"
  >
    <layout-customizer />
  </v-navigation-drawer>
  <v-navigation-drawer
    v-if="user.exists"
    v-model="drawer"
    :permanent="
      (!preferences.getLayout.temporary && !mobile) ||
      preferences.getLayout.rail
    "
    :rail="preferences.getLayout.rail && rail"
    :floating="preferences.getLayout.fixed"
    :temporary="mobile || preferences.getLayout.temporary"
    :color="preferences.getLayout.fixed ? 'background' : 'surface'"
    :expand-on-hover="preferences.getLayout.hover"
  >
    <app-navigation />
    <template #append>
      <v-list
        :nav="true"
        :class="preferences.getLayout.fixed ? 'bg-background' : ''"
      >
        <v-list-item
          href="https://docs.itproaser.com"
          target="_blank"
          prepend-icon="mdi-help"
          rounded="xl"
          :color="preferences.layout.fixed ? 'background' : 'secondary'"
          active-color="primary"
          :title="t('docs')"
        />
      </v-list>
    </template>
  </v-navigation-drawer>
  <v-app-bar
    :order="preferences.getLayout.order"
    :color="preferences.getLayout.fixed ? 'background' : 'surface'"
    :elevate-on-scroll="preferences.getLayout.fixed"
    scroll-target="#scroll-target"
    :density="preferences.getLayout.density"
    shrink-on-scroll
  >
    <v-app-bar-nav-icon
      v-if="user.exists"
      :icon="
        (preferences.getLayout.rail && !rail) ||
        (!preferences.getLayout.rail && !mobile && drawer)
          ? 'mdi-menu-open'
          : 'mdi-menu'
      "
      variant="text"
      @click.stop="
        preferences.getLayout.rail ? (rail = !rail) : (drawer = !drawer)
      "
    />
    <v-app-bar-title v-if="!mobile">
      <v-avatar>
        <v-img :src="logo" :alt="t('vendor')" />
      </v-avatar>
      Inventory
    </v-app-bar-title>
    <v-spacer />
    <server-sync v-if="user.exists" />
    <v-btn icon="mdi-brush" variant="text" @click.stop="options = !options" />
    <v-menu transition="scale-transition" location="start">
      <template #activator="{ props }">
        <v-btn v-bind="props" variant="text" icon="mdi-translate" />
      </template>
      <v-list>
        <v-list-subheader class="text-uppercase"
          >{{ t('culture.language') }}
        </v-list-subheader>
        <v-list-item
          v-for="locale in preferences.supportedCultures"
          :key="locale"
          :active="locale === preferences.culture"
          active-color="primary"
          prepend-icon="mdi-web"
          @click="preferences.changeCulture(locale)"
        >
          <v-list-item-title>
            {{ t(`culture.${locale}`) }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-btn
      v-if="!user.exists"
      tag="router-link"
      icon="mdi-account-circle"
      variant="text"
      @click.stop="login"
    />
    <v-menu
      v-if="user.exists"
      :location="mobile ? 'start' : 'bottom'"
      min-width="200px"
      rounded
    >
      <template #activator="{ props }">
        <v-btn v-bind="props" rounded="pill" size="x-large">
          <div class="d-flex flex-row align-center">
            <div v-if="!mobile" class="d-flex flex-column text-end me-4">
              <span class="text-subtitle-1">{{ user.userName }}</span>
              <span class="text-subtitle-2">{{ user.email }}</span>
            </div>
            <v-avatar>
              <v-img :src="logo" :alt="user.userName" />
            </v-avatar>
          </div>
        </v-btn>
      </template>
      <v-card>
        <v-card-text>
          <div class="mx-auto text-center">
            <v-avatar size="large">
              <v-img :src="logo" :alt="user.userName" />
            </v-avatar>
            <h3>{{ user.userName }}</h3>
            <p class="text-caption mt-1">{{ user.email }}</p>
            <v-divider class="my-3" />
            <v-btn rounded variant="text" to="/profile">
              {{ t('account') }}
            </v-btn>
            <v-divider class="my-3" />
            <v-btn rounded variant="text" @click.stop="logout">
              {{ t('logout') }}
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<script setup lang="ts">
  import logo from '@/assets/products/inventory.svg';
  import AppNavigation from '@/components/AppNavigation.vue';
  import { useDisplay } from 'vuetify';
  import { ref, watch } from 'vue';
  import preferencesStore from '@/stores/preferencesStore';
  import { useI18n } from 'vue-i18n';
  import ServerSync from '@/components/ServerSync.vue';
  import LayoutCustomizer from '@/components/LayoutCustomizer.vue';
  import sessionStore from '@/stores/sessionStore';
  import userStore from '@/stores/userStore';

  const preferences = preferencesStore();
  const { t } = useI18n();
  const { mobile } = useDisplay();

  const user = userStore();
  const drawer = ref(!mobile.value);
  const options = ref(false);
  const rail = ref(preferences.getLayout.rail);
  const session = sessionStore();
  const login = async () => await session.manager.signinRedirect();
  const logout = async () => await session.manager.signoutRedirect();
  watch(mobile, newVal => {
    drawer.value = !newVal;
  });

  if (preferences.layout)
    watch(preferences.getLayout, val => {
      if (val.rail && rail.value) rail.value = false;
    });
</script>

<i18n locale="en" lang="json">
{
  "vendor": "ITProaser",
  "culture": {
    "language": "Language",
    "en": "English",
    "es": "Spanish"
  },
  "routes": {
    "dashboard": "Dashboard",
    "company": "Company",
    "inventory": "Inventory",
    "items": "Items",
    "itemGroups": "Item Groups",
    "settings": "Settings",
    "itemBrands": "Brands",
    "itemCategories": "Categories",
    "itemManufacturers": "Manufacturers",
    "itemUnits": "Units",
    "purchases": "Purchases",
    "sales": "Sales",
    "customers": "Customers",
    "vendors": "Vendors",
    "purchase_orders": "Purchase Orders",
    "sales_orders": "Sales Orders"
  },
  "logout": "Log out",
  "account": "My Account",
  "docs": "Documentation"
}
</i18n>
<i18n locale="es" lang="json">
{
  "vendor": "ITProaser",
  "culture": {
    "language": "Idioma",
    "en": "Inglés",
    "es": "Español"
  },
  "routes": {
    "dashboard": "Tablero",
    "company": "Empresa",
    "inventory": "Inventario",
    "items": "Artículos",
    "itemGroups": "Grupos de artículos",
    "settings": "Ajustes",
    "itemBrands": "Marcas",
    "itemCategories": "Categorías",
    "itemManufacturers": "Fabricantes",
    "itemUnits": "Unidades",
    "purchases": "Compras",
    "sales": "Ventas",
    "customers": "Clientes",
    "vendors": "Proveedores",
    "purchase_orders": "Ordenes de compra",
    "sales_orders": "Ordenes de venta"
  },
  "logout": "Cerrar sesión",
  "account": "Mi cuenta",
  "docs": "Documentación"
}
</i18n>
