<!-- @format -->

<template>
  <v-list
    :nav="true"
    :class="preferences.getLayout.fixed ? 'bg-background' : ''"
  >
    <v-list-item
      v-if="company.hasProfile"
      to="/company"
      :prepend-avatar="companyLogo"
      :title="company.profile.name"
      :subtitle="company.profile.industry"
      rounded="e-xl"
      active-color="primary"
      value="/company"
    />
    <v-divider v-if="company.hasProfile" class="mb-4" />
    <v-list-item
      to="/dashboard"
      prepend-icon="mdi-view-dashboard-outline"
      :title="t('routes.dashboard')"
      value="/dashboard"
      rounded="e-xl"
      active-color="primary"
    />
    <template v-if="user.exists && company.hasProfile">
      <template v-for="route in routes" :key="route.label">
        <v-list-subheader
          v-if="
            route.type === 'header' &&
            !preferences.getLayout.rail &&
            user.hasClaim(route.claims)
          "
          class="text-uppercase"
          :title="t(route.label)"
        />
        <v-list-item
          v-if="route.type === 'item' && user.hasClaim(route.claims)"
          :to="route.to"
          :title="t(route.label)"
          :prepend-icon="route.icon"
          rounded="e-xl"
          active-color="primary"
        />
        <v-list-group
          v-if="
            route.type === 'group' &&
            !preferences.layout.rail &&
            user.hasClaim(['users.list', 'roles.list'])
          "
        >
          <template #activator="{ props }">
            <v-list-item
              v-bind="props"
              :title="t(route.label)"
              :prepend-icon="route.icon"
              rounded="e-xl"
              active-color="primary"
            />
          </template>
          <template v-for="link in route.routes" :key="link.label">
            <v-list-item
              v-if="user.hasClaim(link.claims)"
              :to="link.to"
              :title="t(link.label)"
              rounded="e-xl"
              active-color="primary"
            />
          </template>
        </v-list-group>
      </template>
    </template>
  </v-list>
</template>

<script setup lang="ts">
  import companyLogo from '@/assets/logo.svg';
  import companyStore from '@/stores/companyStore';
  import preferencesStore from '@/stores/preferencesStore';
  import userStore from '@/stores/userStore';
  import { useI18n } from 'vue-i18n';

  type Route = {
    type: 'subgroup' | 'item' | 'group';
    label: string;
    claims: string | string[];
    to?: string;
    icon?: string;
    routes?: Route[];
  };

  const { t } = useI18n();
  const company = companyStore();
  const preferences = preferencesStore();
  const user = userStore();
  const routes: Route[] = [];
</script>

<i18n locale="en" lang="json">
{
  "routes": {
    "dashboard": "Dashboard",
    "company": "Company",
    "services": "Services",
    "manage": "Manage",
    "security": "Security",
    "users": "Users",
    "roles": "Roles",
    "products": "Products",
    "companies": "Companies",
    "identities": "Identities",
    "admin": "Administrative",
    "currencies": "Currencies",
    "payment-terms": "Payment Terms",
    "taxes": "Taxes"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "routes": {
    "dashboard": "Tablero",
    "company": "Empresa",
    "services": "Servicios",
    "manage": "Administrar",
    "security": "Seguridad",
    "users": "Usuarios",
    "roles": "Roles",
    "products": "Productos",
    "companies": "Empresas",
    "identities": "Identidades",
    "admin": "Administración",
    "currencies": "Monedas",
    "payment-terms": "Términos de pago",
    "taxes": "Impuestos"
  }
}
</i18n>
