<!-- @format -->

<template>
  <v-card-actions>
    <v-btn color="grey" plain @click="$router.back()">
      {{ t('cancel') }}
    </v-btn>
    <v-spacer />
    <form-reset v-if="!valid" />
    <v-btn
      :disabled="!valid"
      :loading="loading"
      type="submit"
      color="primary"
      variant="elevated"
    >
      {{ t('save') }}
    </v-btn>
  </v-card-actions>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import FormReset from './FormReset.vue';

  defineProps<{ loading: boolean; valid: boolean | null }>();

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "save": "Save",
  "cancel": "Cancel"
}
</i18n>

<i18n locale="es" lang="json">
{
  "save": "Guardar",
  "cancel": "Cancelar"
}
</i18n>
