<!-- @format -->

<template>
  <v-tooltip :left="true" location="start">
    <template #activator="{ props }">
      <v-btn icon="mdi-refresh" class="my-0" v-bind="props" type="reset" />
    </template>
    <span>
      {{ t('reset') }}
    </span>
  </v-tooltip>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "reset": "Reset"
}
</i18n>
<i18n locale="es" lang="json">
{
  "reset": "Reiniciar"
}
</i18n>
