<!-- @format -->

<template>
  <v-row>
    <v-col cols="12" md="6">
      <v-select
        v-model="model.country"
        :name="`${prefixName}Country`"
        :label="t('fields.country')"
        :items="company.countriesToSelect"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model="model.city"
        :name="`${prefixName}City`"
        :label="t('fields.city')"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model="model.state"
        :name="`${prefixName}State`"
        :label="t('fields.state')"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model="model.street"
        :name="`${prefixName}Street`"
        :label="t('fields.street')"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model="model.zipCode"
        :name="`${prefixName}ZipCode`"
        :label="t('fields.zipCode')"
      />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import companyStore from '@/stores/companyStore';
  import { useI18n } from 'vue-i18n';
  import { computed, defineEmits, reactive } from 'vue';
  const defaultAddress = {
    country: null,
    city: null,
    state: null,
    street: null,
    zipCode: null
  };
  const props = defineProps<{ prefix?: string; modelValue?: Address }>();
  const form = reactive<Address>(props.modelValue ?? defaultAddress);
  defineEmits(['update:modelValue']);
  const prefixName = props.prefix === undefined ? '' : `${props.prefix}.`;
  const { t } = useI18n();
  const company = companyStore();
  const model = computed<Address>({
    get(): Address {
      return form;
    },
    set(value: Address) {
      emit('update:modelValue', value);
    }
  });
</script>

<i18n locale="en" lang="json">
{
  "fields": {
    "country": "Country",
    "state": "State",
    "city": "City",
    "street": "Street",
    "zipCode": "Zip Code"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "fields": {
    "country": "País",
    "state": "Estado",
    "city": "Ciudad",
    "street": "Calle",
    "zipCode": "Código postal"
  }
}
</i18n>
