<!-- @format -->

<template>
  <v-list
    select-strategy="multiple"
    :class="preferences.getLayout.fixed ? 'bg-background' : ''"
  >
    <v-list-subheader>
      {{ t('theme') }}
    </v-list-subheader>
    <v-item-group mandatory>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-item>
              <v-card
                :color="theme.current.value.dark ? 'primary' : 'secondary'"
                class="d-flex align-center py-4"
                @click.stop="setThemeDark"
              >
                <div class="flex-grow-1 text-center">
                  <v-icon icon="mdi-weather-night" />
                </div>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="12" md="6">
            <v-item>
              <v-card
                :color="!theme.current.value.dark ? 'primary' : 'secondary'"
                class="d-flex align-center py-4"
                @click.stop="setThemeLight"
              >
                <div class="flex-grow-1 text-center">
                  <v-icon icon="mdi-weather-sunny" />
                </div>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>
    <v-list-subheader>
      {{ t('navigation') }}
    </v-list-subheader>
    <v-list-item
      active-color="primary"
      :active="preferences.getLayout.fixed"
      @click.stop="toggleFixed"
    >
      <template #prepend>
        <v-list-item-action>
          <v-checkbox-btn v-model="preferences.getLayout.fixed" hide-details />
        </v-list-item-action>
      </template>
      <v-list-item-title>
        {{ t('layout.fixed') }}
      </v-list-item-title>
    </v-list-item>
    <v-list-item
      active-color="primary"
      :active="preferences.getLayout.rail"
      :disabled="preferences.getLayout.temporary"
      @click.stop="toggleRail"
    >
      <template #prepend>
        <v-list-item-action>
          <v-checkbox-btn v-model="preferences.getLayout.rail" hide-details />
        </v-list-item-action>
      </template>
      <v-list-item-title>
        {{ t('layout.rail') }}
      </v-list-item-title>
    </v-list-item>
    <v-list-item
      :disabled="!preferences.getLayout.rail"
      active-color="primary"
      :active="preferences.getLayout.hover"
      @click.stop="toggleHover"
    >
      <template #prepend>
        <v-list-item-action>
          <v-checkbox-btn v-model="preferences.getLayout.hover" hide-details />
        </v-list-item-action>
      </template>
      <v-list-item-title>
        {{ t('layout.hover') }}
      </v-list-item-title>
    </v-list-item>
    <v-list-item
      active-color="primary"
      :active="preferences.getLayout.temporary"
      :disabled="preferences.getLayout.rail"
      @click.stop="toggleTemporary"
    >
      <template #prepend>
        <v-list-item-action>
          <v-checkbox-btn
            v-model="preferences.getLayout.temporary"
            hide-details
          />
        </v-list-item-action>
      </template>
      <v-list-item-title>
        {{ t('layout.temporary') }}
      </v-list-item-title>
    </v-list-item>
    <v-list-subheader>
      {{ t('appbar') }}
    </v-list-subheader>
    <v-list-item>
      <v-radio-group v-model="preferences.getLayout.density">
        <v-radio
          v-for="n in ['default', 'compact', 'prominent']"
          :key="n"
          :label="t(`layout.density.${n}`)"
          :value="n"
          @click.stop="preferences.setLayoutDensity(n)"
        />
      </v-radio-group>
    </v-list-item>
    <v-list-item
      active-color="primary"
      :active="preferences.getLayout.order === 0"
      @click.stop="toggleOrder"
    >
      <template #prepend>
        <v-list-item-action>
          <v-checkbox-btn
            :model-value="preferences.getLayout.order === 0"
            hide-details
          />
        </v-list-item-action>
      </template>
      <v-list-item-title>
        {{ t('layout.order') }}
      </v-list-item-title>
    </v-list-item>
  </v-list>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import preferencesStore from '@/stores/preferencesStore';
  import { useTheme } from 'vuetify';
  const theme = useTheme();

  const { t } = useI18n();
  const preferences = preferencesStore();
  const toggleHover = () => preferences.toggleLayoutHover();
  const toggleFixed = () => preferences.toggleLayoutFixed();
  const toggleRail = () => preferences.toggleLayoutRail();
  const toggleOrder = () => preferences.toggleLayoutOrder();
  const toggleTemporary = () => preferences.toggleLayoutTemporary();
  const setThemeDark = () => {
    preferences.setTheme('dark');
    theme.global.name.value = 'dark';
  };
  const setThemeLight = () => {
    preferences.setTheme('light');
    theme.global.name.value = 'light';
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Profile",
  "subtitle": "Manage your profile account and preferences",
  "theme": "Theme",
  "navigation": "Navigation",
  "appbar": "Appbar",
  "layout": {
    "fixed": "Fixed navigation",
    "rail": "Rail navigation",
    "density": {
      "default": "Default",
      "compact": "Compact",
      "prominent": "Prominent"
    },
    "temporary": "Temporary navigation",
    "hover": "Hover navigation",
    "order": "Alternate navigation"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Perfil",
  "subtitle": "Administra tu perfil de cuenta y preferencias",
  "theme": "Tema",
  "navigation": "Navegación",
  "appbar": "Barra de aplicación",
  "layout": {
    "fixed": "Navegación fija",
    "rail": "Navegación rail",
    "density": {
      "default": "Por defecto",
      "compact": "Compacto",
      "prominent": "Prominente"
    },
    "temporary": "Navegación temporal",
    "hover": "Navegación con hover",
    "order": "Alternar navegación"
  }
}
</i18n>
