<!-- @format -->

<template>
  <v-slide-x-reverse-transition>
    <span v-if="status.show" class="text-subtitle-1">
      {{ t(status.message) }}
    </span>
  </v-slide-x-reverse-transition>
  <v-btn
    :icon="icon"
    :loading="syncing"
    :class="status.show ? 'ml-4' : ''"
    :color="color"
    :disabled="syncing || status.show"
    @click="sync"
  />
</template>

<script setup lang="ts">
  import { computed, onMounted, reactive, ref, watch } from 'vue';
  import companyStore from '@/stores/companyStore';
  import itemsStore from '@/stores/itemsStore';
  import brandStore from '@/stores/brandStore';
  import categoryStore from '@/stores/categoryStore';
  import manufacturerStore from '@/stores/manufacturerStore';
  import unitStore from '@/stores/unitStore';
  import routesStore from '@/stores/routesStore';
  import { useI18n } from 'vue-i18n';
  import vendorStore from '@/stores/vendorStore';
  import customerStore from '@/stores/customerStore';
  import userStore from '@/stores/userStore';

  const { t } = useI18n();
  const user = userStore();
  const company = companyStore();
  const items = itemsStore();
  const itemBrands = brandStore();
  const itemCategories = categoryStore();
  const itemManufacturers = manufacturerStore();
  const itemUnits = unitStore();
  const routes = routesStore();
  const vendors = vendorStore();
  const customers = customerStore();

  const shouldSync = computed(
    () =>
      company.refresh ||
      items.refresh ||
      itemBrands.refresh ||
      itemCategories.refresh ||
      itemManufacturers.refresh ||
      itemUnits.refresh ||
      vendors.refresh ||
      customers.refresh
  );
  const status = reactive({
    show: false,
    message: ''
  });
  const syncing = ref(false);

  const icon = ref(
    shouldSync.value ? 'mdi-cloud-sync-outline' : 'mdi-cloud-outline'
  );
  const color = computed(() =>
    syncing.value
      ? 'primary'
      : icon.value === 'mdi-cloud-off-outline'
      ? 'error'
      : icon.value === 'mdi-cloud-sync-outline'
      ? 'warning'
      : ''
  );

  const pending = ref(-1);

  window.addEventListener('offline', () => {
    icon.value = 'mdi-cloud-off-outline';
    status.message = 'disconnected';
    if (pending.value !== -1) clearTimeout(pending.value);
    status.show = true;
    pending.value = setTimeout(() => (status.show = false), 3000);
  });
  window.addEventListener('online', () => sync(true));
  const sync = async (skip = false) => {
    if (!shouldSync.value && !skip) return;
    if (pending.value !== -1) clearTimeout(pending.value);
    syncing.value = true;
    status.message = 'syncing';
    status.show = true;
    await company.download();
    await items.download();
    await itemBrands.download();
    await itemCategories.download();
    await itemManufacturers.download();
    await itemUnits.download();
    await routes.download();
    await vendors.download();
    await customers.download();
    syncing.value = false;
    status.message = 'updated';
    icon.value = 'mdi-cloud-outline';
    pending.value = setTimeout(() => (status.show = false), 3000);
  };

  watch(shouldSync, newValue => {
    icon.value = newValue ? 'mdi-cloud-sync-outline' : 'mdi-cloud-outline';
    status.message = 'pending';
    status.show = true;
    if (pending.value !== -1) clearTimeout(pending.value);
    pending.value = setTimeout(() => (status.show = false), 3000);
  });

  onMounted(() => {
    status.message = icon.value === 'mdi-cloud-outline' ? 'updated' : 'pending';
    status.show = true;
    pending.value = setTimeout(() => (status.show = false), 3000);
  });

  watch(user, val => {
    if (val.exists) return;
    company.delete();
    items.delete();
    itemBrands.delete();
    itemCategories.delete();
    itemManufacturers.delete();
    itemUnits.delete();
    vendors.delete();
    customers.delete();
  });
</script>

<i18n locale="en" lang="json">
{
  "pending": "Synchronization is available",
  "updated": "You are up to date",
  "disconnected": "You are working offline",
  "syncing": "Synchronizing..."
}
</i18n>
<i18n locale="es" lang="json">
{
  "pending": "Sincronización disponible",
  "updated": "Estás actualizado",
  "disconnected": "Estás trabajando sin conexión",
  "syncing": "Sincronizando..."
}
</i18n>
