<!-- @format -->

<template>
  <v-row>
    <v-col cols="12">
      <v-list>
        <v-list-item>
          <v-row>
            <v-col cols="3">
              {{ t('fields.item') }}
            </v-col>
            <v-col cols="1" class="hidden-md-and-down">
              {{ t('fields.quantity') }}
            </v-col>
            <v-col cols="2" class="hidden-md-and-down">
              {{ t('fields.price') }}
            </v-col>
            <v-col v-if="discount" cols="2" class="hidden-md-and-down">
              {{ t('fields.discount') }}
            </v-col>
            <v-col cols="2" class="hidden-md-and-down">
              {{ t('fields.tax') }}
            </v-col>
            <v-col cols="1" class="hidden-md-and-down">
              {{ t('fields.amount') }}
            </v-col>
          </v-row>
        </v-list-item>
      </v-list>
      <v-list lines="three">
        <template v-for="(line, index) in lines" :key="`order-line-${line}`">
          <v-divider />
          <transaction-order-line
            v-model="lines[index]"
            :currency="currency"
            :discount="discount"
          >
            <template #delete>
              <v-btn
                icon="mdi-delete"
                color="error"
                variant="text"
                @click="deleteLine(line.line)"
              />
            </template>
          </transaction-order-line>
        </template>
      </v-list>
    </v-col>
    <v-col cols="12" md="8">
      <v-btn
        color="primary"
        prepend-icon="mdi-plus"
        variant="text"
        @click.stop="add"
      >
        {{ t('add') }}
      </v-btn>
    </v-col>
    <v-col cols="12" md="4">
      <v-row>
        <v-col cols="12" class="d-flex justify-space-between">
          <h6 class="text-h6">{{ t('subtotal') }}:</h6>
          <h6 class="text-h6">
            {{ subtotal }}
          </h6>
        </v-col>
        <v-col v-if="!discount" cols="12">
          <v-row>
            <v-col cols="6">
              <v-row>
                <v-col cols="8">
                  <v-text-field
                    v-model.number="form.discount"
                    name="Discount"
                    :label="t('fields.discount')"
                    variant="underlined"
                  />
                </v-col>
                <v-col cols="4">
                  <v-select
                    v-model="form.discountType"
                    name="DiscountType"
                    :items="discountTypes"
                    variant="underlined"
                  />
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" class="d-flex justify-end">
              <h6 class="text-h6">
                {{ discountTotal }}
              </h6>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="discount" cols="12" class="d-flex justify-space-between">
          <h6 class="text-h6">{{ t('fields.discount') }}:</h6>
          <h6 class="text-h6">
            {{ discountTotal }}
          </h6>
        </v-col>
        <v-col cols="12" class="d-flex justify-space-between">
          <h5 class="text-h5">{{ t('total') }}:</h5>
          <h5 class="text-h5">
            {{ total }}
          </h5>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import { computed, ref } from 'vue';
  import TransactionOrderLine from '@/components/TransactionOrderLine.vue';
  const { t } = useI18n();
  const props = defineProps<{ currency: Currency | null; discount: boolean }>();
  const defaultLine: OrderLine = {
    discount: 0,
    discountType: 1,
    line: 1,
    notes: null,
    uId: null,
    itemId: null,
    quantity: 1,
    price: 0
  };
  const discountTypes = [
    { title: '%', value: 0 },
    { title: props.currency?.symbol ?? '$', value: 1 }
  ];
  const form = ref<{ discount: number; discountType: 0 | 1 }>({
    discount: 0,
    discountType: 1
  });
  const lines = ref<OrderLine[]>([{ ...defaultLine }]);
  const add = () =>
    lines.value.push({ ...defaultLine, line: lines.value.length + 1 });
  const deleteLine = (line: number) => {
    if (lines.value.length === 1) return;
    lines.value = lines.value.filter(l => l.line !== line);
  };
  const subtotal = computed(() =>
    lines.value.reduce((acc, line) => acc + line.price * line.quantity, 0)
  );
  const discountTotal = computed(() =>
    !props.discount
      ? form.value.discountType === 1
        ? form.value.discount
        : (subtotal.value * form.value.discount) / 100
      : lines.value.reduce(
          (acc, line) =>
            acc +
            (line.discountType === 1
              ? line.discount
              : (line.price * line.quantity * line.discount) / 100),
          0
        )
  );
  const total = computed(() => subtotal.value - discountTotal.value);
</script>

<i18n locale="en" lang="json">
{
  "add": "Add another line",
  "fields": {
    "item": "Item",
    "quantity": "Quantity",
    "price": "Price",
    "discount": "Discount",
    "tax": "Tax",
    "amount": "Amount"
  },
  "subtotal": "Subtotal",
  "total": "Total"
}
</i18n>
<i18n locale="es" lang="json">
{
  "add": "Añadir otra línea",
  "fields": {
    "item": "Artículo",
    "quantity": "Cantidad",
    "price": "Precio",
    "discount": "Descuento",
    "tax": "Impuesto",
    "amount": "Monto"
  },
  "subtotal": "Subtotal",
  "total": "Total"
}
</i18n>
