<!-- @format -->

<template>
  <v-list-item>
    <input hidden="hidden" :name="`OrderLines[${model.line}].Line`" />
    <v-row>
      <v-col cols="6" md="3">
        <v-autocomplete
          v-model="model.itemId"
          :filter-keys="['title']"
          :items="items.toSelect"
          :label="t('fields.itemId')"
          :name="`OrderLines[${model.line}].ItemId`"
          required
          variant="underlined"
          :rules="rules.itemId"
        />
      </v-col>
      <v-col cols="6" md="1">
        <v-text-field
          v-model.number="model.quantity"
          :label="t('fields.quantity')"
          :name="`OrderLines[${model.line}].Quantity`"
          required
          variant="underlined"
        />
      </v-col>
      <v-col cols="6" md="2">
        <v-text-field
          v-model.number="model.price"
          :label="t('fields.price')"
          :name="`OrderLines[${model.line}].Price`"
          required
          variant="underlined"
          :prefix="currency?.symbol ?? '$'"
        />
      </v-col>
      <v-col v-if="discount" cols="6" md="2">
        <v-row>
          <v-col cols="6">
            <v-text-field
              v-model.number="model.discount"
              :label="t('fields.discount')"
              :name="`OrderLines[${model.line}].Discount`"
              variant="underlined"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="model.discountType"
              name="OrderLines[${model.line}].DiscountType"
              :items="discountTypes"
              variant="underlined"
            />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="6" md="2">
        <v-select
          v-model="model.tax"
          name="OrderLines[${model.line}].TaxId"
          :items="company.taxesToSelect"
          variant="underlined"
          :label="t('fields.tax')"
        />
      </v-col>
      <v-col cols="2" md="1">
        <span class="text-subtitle-1">
          {{ total }}
        </span>
      </v-col>
      <v-col cols="2" md="1">
        <slot name="delete" />
      </v-col>
    </v-row>
  </v-list-item>
</template>

<script setup lang="ts">
  import itemsStore from '@/stores/itemsStore';
  import { useI18n } from 'vue-i18n';
  import { computed, defineEmits } from 'vue';
  import companyStore from '@/stores/companyStore';
  const props = defineProps<{
    modelValue: OrderLine;
    currency: Currency | null;
    discount: boolean;
  }>();
  defineEmits(['update:modelValue']);

  const { t } = useI18n();
  const items = itemsStore();
  const company = companyStore();
  const discountTypes = computed(() => [
    { title: '%', value: 0 },
    { title: props.currency?.symbol ?? '$', value: 1 }
  ]);
  const model = computed<OrderLine>({
    get(): OrderLine {
      return props.modelValue;
    },
    set(value: OrderLine) {
      emit('update:modelValue', value);
    }
  });
  const total = computed(
    () =>
      model.value.price * model.value.quantity -
      (!props.discount
        ? 0
        : model.value.discountType === 1
        ? model.value.discount
        : (model.value.discount * model.value.price) / 100)
  );

  const rules = {
    itemId: [(v: string) => !!v || t('validation.required')]
  };
</script>

<i18n locale="en" lang="json">
{
  "fields": {
    "itemId": "Select Item",
    "quantity": "Quantity",
    "price": "Price",
    "discount": "Discount",
    "tax": "Tax",
    "paymentTerm": "Payment Term"
  },
  "discount": {
    "percentage": "Percentage",
    "amount": "Amount"
  },
  "validation": {
    "required": "This field cannot be empty",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "fields": {
    "itemId": "Seleccionar Artículo",
    "quantity": "Cantidad",
    "price": "Precio",
    "discount": "Descuento",
    "tax": "Impuesto",
    "paymentTerm": "Plazo de pago"
  },
  "discount": {
    "percentage": "Porcentaje",
    "amount": "Monto"
  },
  "validation": {
    "required": "Este campo es requerido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
