<!-- @format -->

<template>
  <div>
    <v-container fluid>
      <h4 class="text-h4">
        {{ t('title') }}
      </h4>
      <span class="text-subtitle-1">
        {{ t('subtitle') }}
      </span>
    </v-container>
    <router-view v-slot="{ Component }">
      <v-scroll-x-transition>
        <component :is="Component" />
      </v-scroll-x-transition>
    </router-view>
  </div>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Brands",
  "subtitle": "With brands you can recognize and filter various items among different variations"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Marcas",
  "subtitle": "Con marcas puedes reconocer y filtrar varios artículos entre diferentes variaciones"
}
</i18n>
