<!-- @format -->

<template>
  <v-container>
    <v-card prepend-icon="mdi-file-plus-outline">
      <template #title>
        {{ t('header') }}
      </template>
      <v-form v-model="form.valid" @submit.prevent="create">
        <v-card-text>
          <v-alert
            v-if="form.message"
            type="error"
            class="mb-4"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col cols="12">
              <v-label>
                {{ t('fields.type.label') }}
              </v-label>
              <v-radio-group v-model="type" name="Type" inline mandatory>
                <div class="d-flex justify-space-around">
                  <v-radio
                    name="Type"
                    :label="t('fields.type.product')"
                    :value="1"
                  />
                  <v-radio
                    name="Type"
                    :label="t('fields.type.service')"
                    :value="2"
                  />
                </div>
              </v-radio-group>
            </v-col>
            <v-col cols="12" md="6" lg="4">
              <v-text-field
                name="Name"
                :label="t('fields.name')"
                required
                :rules="rules.name"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6" lg="4">
              <v-text-field
                name="Sku"
                :label="t('fields.sku')"
                :hint="t('fields.skuDescription')"
                :persistent-hint="true"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6" lg="4">
              <v-select
                name="UnitId"
                :label="t('fields.unit')"
                :items="units.toSelect"
                :readonly="form.loading"
              />
            </v-col>
          </v-row>
          <v-checkbox
            v-if="type === 1"
            name="IsReturnable"
            :label="t('fields.returnable')"
          />
          <v-row>
            <v-col cols="12" md="6" lg="4">
              <v-select
                name="CategoryId"
                :label="t('fields.category')"
                :items="categories.toSelect"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6" lg="4">
              <v-select
                name="BrandId"
                :label="t('fields.brand')"
                :items="brands.toSelect"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6" lg="4">
              <v-select
                name="ManufacturerId"
                :label="t('fields.manufacturer')"
                :items="manufacturers.toSelect"
                :readonly="form.loading"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                name="UniversalProductCode"
                :label="t('fields.upc')"
                :hint="t('fields.upcDescription')"
                :persistent-hint="true"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="InternationalArticleNumber"
                :label="t('fields.ian')"
                :hint="t('fields.ianDescription')"
                :persistent-hint="true"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="ManufacturerPartNumber"
                :label="t('fields.mpn')"
                :hint="t('fields.mpnDescription')"
                :persistent-hint="true"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="InternationalStandardBookNumber"
                :label="t('fields.isbn')"
                :hint="t('fields.isbnDescription')"
                :persistent-hint="true"
                :readonly="form.loading"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-checkbox
                v-model="purchaseInformation"
                name="IncludePurchaseInformation"
                :label="t('fields.purchaseInformation')"
                :readonly="form.loading"
              />
              <v-expand-transition>
                <div v-if="purchaseInformation">
                  <v-text-field
                    name="PurchaseRate"
                    :label="t('fields.purchaseRate')"
                    :hint="t('fields.purchaseRateDescription')"
                    :persistent-hint="true"
                    :prefix="company.defaultCurrency?.symbol"
                    :rules="rules.rate"
                    :readonly="form.loading"
                  />
                  <v-textarea
                    name="PurchaseDescription"
                    :auto-grow="true"
                    outlined
                    rows="3"
                    row-height="25"
                    :label="t('fields.description')"
                    :readonly="form.loading"
                  />
                </div>
              </v-expand-transition>
            </v-col>
            <v-col cols="12" lg="6">
              <v-checkbox
                v-model="salesInformation"
                name="IncludeSalesInformation"
                :label="t('fields.salesInformation')"
                :readonly="form.loading"
              />
              <v-expand-transition>
                <div v-if="salesInformation">
                  <v-text-field
                    name="SalesRate"
                    :label="t('fields.salesRate')"
                    :hint="t('fields.salesRateDescription')"
                    :persistent-hint="true"
                    :prefix="company.defaultCurrency?.symbol"
                    :rules="rules.rate"
                    :readonly="form.loading"
                  />
                  <v-textarea
                    :auto-grow="true"
                    outlined
                    rows="3"
                    row-height="25"
                    name="SalesDescription"
                    :label="t('fields.description')"
                    :readonly="form.loading"
                  />
                </div>
              </v-expand-transition>
            </v-col>
          </v-row>
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import { onMounted, reactive, ref } from 'vue';
  import FormActions from '@/components/FormActions.vue';
  import unitStore from '@/stores/unitStore';
  import categoryStore from '@/stores/categoryStore';
  import manufacturerStore from '@/stores/manufacturerStore';
  import brandStore from '@/stores/brandStore';
  import companyStore from '@/stores/companyStore';
  import itemsStore from '@/stores/itemsStore';
  import { useRouter } from 'vue-router';

  const { t } = useI18n();
  const units = unitStore();
  const categories = categoryStore();
  const manufacturers = manufacturerStore();
  const brands = brandStore();
  const company = companyStore();
  const item = itemsStore();
  const router = useRouter();

  const type = ref(1);
  const purchaseInformation = ref(false);
  const salesInformation = ref(false);
  const form: {
    valid: boolean;
    loading: boolean;
    message: string | null;
  } = reactive({
    valid: false,
    loading: true,
    message: null
  });

  const rules = {
    name: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ],
    rate: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => /^\d+(\.\d{1,2})?$/.test(v) || t('validation.numeric')
    ]
  };

  onMounted(async () => {
    if (units.refresh) await units.download();
    if (categories.refresh) await categories.download();
    if (manufacturers.refresh) await manufacturers.download();
    if (brands.refresh) await brands.download();
    if (company.refresh) await company.download();
    form.loading = false;
  });

  const create = async event => {
    form.loading = true;
    form.message = null;
    const response = await item.create(new FormData(event.target));
    if (response.success) await router.push('/items');
    form.message = response.message;
    form.loading = false;
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Create Item",
  "header": "Create a new Item",
  "fields": {
    "type": {
      "label": "Type",
      "product": "Product",
      "service": "Service"
    },
    "name": "Item Name",
    "sku": "SKU",
    "skuDescription": "The Stock Keeping Unit of the item",
    "unit": "Item Unit",
    "returnable": "Is Returnable",
    "brand": "Item Brand",
    "category": "Item Category",
    "manufacturer": "Item Manufacturer",
    "upc": "UPC",
    "upcDescription": "Twelve digit unique number associated with the bar code (Universal Product Code)",
    "ian": "EAN",
    "ianDescription": "Thirteen digit article number (International Article Number)",
    "mpn": "MPN",
    "mpnDescription": "The Manufacturer Part Number unambiguously identifies a part design",
    "isbn": "ISBN",
    "isbnDescription": "Thirteen digit unique commercial book identifier (International Standard Book Number)",
    "purchaseInformation": "Purchase Information",
    "purchaseRate": "Purchase Price",
    "purchaseRateDescription": "The rate at which you purchased this item",
    "salesInformation": "Sales Information",
    "salesRate": "Sales Price",
    "salesRateDescription": "The rate at which you're going to sale this item",
    "notes": "Item Notes",
    "description": "Description"
  },
  "validation": {
    "required": "This field cannot be empty",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long",
    "numeric": "This field must be numeric"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Crear Artículo",
  "header": "Crear un nuevo Artículo",
  "fields": {
    "type": {
      "label": "Tipo",
      "product": "Producto",
      "service": "Servicio"
    },
    "name": "Nombre del Artículo",
    "sku": "SKU",
    "skuDescription": "El Número de Referencia del artículo",
    "unit": "Unidad",
    "returnable": "Se puede devolver",
    "brand": "Marca",
    "category": "Categoría",
    "manufacturer": "Fabricante",
    "upc": "UPC",
    "upcDescription": "Número unico de doce dígitos asociado con el código de barras (Código Unico del Producto)",
    "ian": "EAN",
    "ianDescription": "Número de artículo de trece dígitos (Número de Articulo Internacional)",
    "mpn": "MPN",
    "mpnDescription": "El Número de Parte del Fabricante identifica de forma exclusiva un producto",
    "isbn": "ISBN",
    "isbnDescription": "Identificador comercial único de trece dígitos (Número Internacional Normalizedo para Libros)",
    "purchaseInformation": "Información de Compra",
    "purchaseRate": "Precio de Compra",
    "purchaseRateDescription": "La tasa a la que compraste el artículo",
    "salesInformation": "Información de Venta",
    "salesRate": "Precio de Venta",
    "salesRateDescription": "La tasa a la que venderás este artículo",
    "notes": "Notas del Artículo",
    "description": "Descripción"
  },
  "validation": {
    "required": "Este campo es requerido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres",
    "numeric": "Este campo debe ser numérico"
  }
}
</i18n>
