<!-- @format -->

<template>
  <v-container class="fill-height">
    <div class="d-flex align-center justify-end">
      <v-btn
        tag="router-link"
        to="/items/create"
        icon="mdi-file-plus-outline"
        color="primary"
        size="large"
      />
    </div>
    <v-card v-if="store.any" class="mt-4">
      <v-table>
        <thead>
          <tr>
            <th class="text-left">
              {{ t('fields.name') }}
            </th>
            <th class="text-left">
              {{ t('fields.type.label') }}
            </th>
            <th class="text-left">
              {{ t('fields.sku') }}
            </th>
            <th class="text-left">
              {{ t('fields.returnable') }}
            </th>
            <th>
              {{ t('actions.label') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in store.items" :key="item.uId">
            <td class="text-left">
              {{ item.name }}
            </td>
            <td class="text-left">
              {{
                item.type === 0
                  ? t('fields.type.product')
                  : t('fields.type.service')
              }}
            </td>
            <td class="text-left">
              {{ item.sku }}
            </td>
            <td class="text-left">
              <v-icon
                :color="item.isReturnable ? 'success' : 'error'"
                :icon="item.isReturnable ? 'mdi-check' : 'mdi-close'"
              />
            </td>
            <td>
              <v-menu location="start">
                <template #activator="{ props }">
                  <v-btn
                    color="primary"
                    variant="text"
                    icon="mdi-dots-vertical"
                    v-bind="props"
                  />
                </template>
                <v-list>
                  <v-list-item :to="`edit/${item.uId}`">
                    <v-list-item-title>
                      {{ t('actions.edit') }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div
      v-if="!store.any"
      class="fill-height d-flex flex-column align-center justify-center"
    >
      <v-img :src="emptyBox" width="200" />
      <v-container class="d-flex flex-column justify-center align-center">
        <div class="mb-4">
          <span>
            {{ t('empty') }}
          </span>
        </div>
        <v-btn
          tag="router-link"
          to="/items/create"
          append-icon="mdi-file-plus-outline"
          color="primary"
        >
          {{ t('create') }}
        </v-btn>
      </v-container>
    </div>
  </v-container>
</template>

<script setup lang="ts">
  import emptyBox from '@/assets/img/empty-box.svg';
  import itemsStore from '@/stores/itemsStore';
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();

  const store = itemsStore();
</script>

<i18n locale="en" lang="json">
{
  "title": "Item List",
  "create": "Create Item",
  "fields": {
    "type": {
      "label": "Type",
      "product": "Product",
      "service": "Service"
    },
    "name": "Item Name",
    "sku": "SKU",
    "category": "Item Category",
    "returnable": "Is Returnable"
  },
  "empty": "We couldn't find any items associated to this company",
  "actions": {
    "label": "Actions",
    "edit": "Edit",
    "delete": "Delete"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Lista de artículos",
  "create": "Crear artículo",
  "fields": {
    "type": {
      "label": "Tipo",
      "product": "Producto",
      "service": "Servicio"
    },
    "name": "Nombre del Artículo",
    "sku": "SKU",
    "returnable": "Se puede devolver"
  },
  "empty": "No se pudo encontrar ningún artículo asociado a esta empresa",
  "actions": {
    "label": "Acciones",
    "edit": "Editar",
    "delete": "Eliminar"
  }
}
</i18n>
