<!-- @format -->

<template>
  <v-container class="fill-height">
    <div class="d-flex align-center justify-end">
      <v-btn
        tag="router-link"
        to="/item-groups/create"
        icon="mdi-folder-multiple-plus-outline"
        color="primary"
        size="large"
        disabled
      />
    </div>
    <div class="fill-height d-flex flex-column align-center justify-center">
      <v-img :src="emptyBox" width="200" />
      <v-container class="d-flex flex-column justify-center align-center">
        <div class="mb-4">
          <span>
            {{ t('empty') }}
          </span>
        </div>
        <v-btn
          append-icon="mdi-folder-multiple-plus-outline"
          color="primary"
          disabled
        >
          {{ t('create') }}
        </v-btn>
      </v-container>
    </div>
  </v-container>
</template>

<script setup lang="ts">
  import emptyBox from '@/assets/img/empty-box.svg';
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "List of Item Groups",
  "create": "Create Item Group",
  "fields": {
    "name": "Group Name",
    "description": "Description"
  },
  "empty": "We couldn't find any item groups associated to this company"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Lista de Grupos de Artículos",
  "create": "Crear Grupo de Artículos",
  "fields": {
    "name": "Nombre del Grupo",
    "description": "Descripción"
  },
  "empty": "No hemos podido encontrar ningún grupo de artículos asociado a esta empresa"
}
</i18n>
