<!-- @format -->

<template>
  <div>
    <v-container fluid>
      <h4 class="text-h4">
        {{ t('title') }}
      </h4>
      <span class="text-subtitle-1">
        {{ t('subtitle') }}
      </span>
    </v-container>
    <router-view v-slot="{ Component }">
      <v-scroll-x-transition>
        <component :is="Component" />
      </v-scroll-x-transition>
    </router-view>
  </div>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Purchase Orders",
  "subtitle": "Control the purchase of your products and services from your vendors"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Órdenes de compra",
  "subtitle": "Controla la compra de tus productos y servicios desde tus proveedores"
}
</i18n>
