<!-- @format -->

<template>
  <v-container>
    <div class="d-flex align-center justify-end">
      <v-btn
        tag="router-link"
        to="/purchases/orders/create"
        icon="mdi-cart-plus"
        color="primary"
        size="large"
      />
    </div>
    <div class="fill-height d-flex flex-column align-center justify-center">
      <v-img :src="emptyBox" width="200" />
      <v-container class="d-flex flex-column justify-center align-center">
        <div class="mb-4">
          <span>
            {{ t('empty') }}
          </span>
        </div>
        <v-btn
          tag="router-link"
          to="/purchases/orders/create"
          append-icon="mdi-cart-plus"
          color="primary"
        >
          {{ t('create') }}
        </v-btn>
      </v-container>
    </div>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';
  import emptyBox from '@/assets/img/empty-box.svg';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Purchase Orders List",
  "subtitle": "Control the purchase of your products and services from your vendors",
  "empty": "We couldn't find any purchase orders linked to this company",
  "create": "Create new Order"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Lista de órdenes de compra",
  "subtitle": "Controla la compra de tus productos y servicios desde tus proveedores",
  "empty": "No se encontraron órdenes de compra asociadas a esta empresa",
  "create": "Crear nueva orden"
}
</i18n>
