<!-- @format -->

<template>
  <v-container>
    <v-card prepend-icon="mdi-cart-plus">
      <template #title>
        {{ t('header') }}
      </template>
      <v-form v-model="form.valid" @submit.prevent>
        <v-card-text>
          <v-alert
            v-if="form.message"
            class="mb-4"
            type="error"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col :cols="form.currency !== null ? 10 : 12" :md="11">
              <v-select
                v-model="form.vendorId"
                name="VendorId"
                :label="t('fields.vendor')"
                :items="vendors.toSelect"
                required
                :rules="rules.vendor"
              />
            </v-col>
            <v-col v-if="form.currency !== null" cols="2" md="1">
              <v-chip class="ma-2" color="success">
                {{ form.currency?.code }}
              </v-chip>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                name="Number"
                :label="t('fields.number')"
                required
                :rules="rules.number"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field name="Reference" :label="t('fields.reference')" />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.date"
                name="Date"
                :label="t('fields.date')"
                required
                type="date"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                name="ExpectedDate"
                :label="t('fields.expectedDate')"
                type="date"
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="form.discountLevel"
                name="DiscountLevel"
                :label="t('fields.discountLevel.label')"
                :items="discountLevels"
                required
              />
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                name="PaymentTermId"
                :label="t('fields.paymentTerm')"
                :items="company.paymentTermsToSelect"
                required
              />
            </v-col>
          </v-row>
          <transaction-orders
            :currency="form.currency"
            :discount="form.discountLevel === 0"
          />
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import ordersStore from '@/stores/ordersStore';
  import { useI18n } from 'vue-i18n';
  import FormActions from '@/components/FormActions.vue';
  import { onMounted, reactive, watch } from 'vue';
  import vendorStore from '@/stores/vendorStore';
  import companyStore from '@/stores/companyStore';
  import TransactionOrders from '@/components/TransactionOrders.vue';
  import { useRoute } from 'vue-router';

  const { vendor } = useRoute().query;
  const store = ordersStore();
  const vendors = vendorStore();
  const company = companyStore();
  const { t } = useI18n();
  const discountLevels = [
    {
      title: t('fields.discountLevel.0'),
      value: 0
    },
    {
      title: t('fields.discountLevel.1'),
      value: 1
    }
  ];
  const today = new Date();
  const form = reactive<{
    valid: boolean;
    loading: boolean;
    message: string | null;
    vendorId: string | null;
    date: string | null;
    discountLevel: 0 | 1;
    currency: Currency | null;
  }>({
    valid: false,
    loading: false,
    message: null,
    vendorId:
      vendors.toSelect.findIndex(v => v.value === vendor) > -1
        ? (vendor as string)
        : null,
    date: `${today.getFullYear()}-${today.getMonth() + 1 < 10 ? '0' : ''}${
      today.getMonth() + 1
    }-${today.getDate() < 10 ? '0' : ''}${today.getDate()}`,
    discountLevel: 0,
    currency: company.defaultCurrency ?? null
  });
  watch(
    () => form.vendorId,
    (val, old) => {
      if (val === null || val === old) return;
      const v = vendors.get(val);
      if (v === null || v.currencyId === null) return;
      form.currency = company.getCurrency(v.currencyId);
    }
  );
  onMounted(async () => {
    if (company.refreshCurrencies) await company.downloadCurrencies();
    if (company.refreshTaxes) await company.downloadTaxes();
    if (company.refreshPaymentTerms) await company.downloadPaymentTerms();
    if (vendor === null) return;
    const v = vendors.get(vendor as string);
    if (v === null || v.currencyId === null) return;
    form.currency = company.getCurrency(v.currencyId);
  });

  const rules = {
    vendor: [(v: string) => !!v || t('validation.required')],
    number: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length <= 64 || t('validation.maxLength', { length: 64 })
    ]
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Create Purchase Order",
  "subtitle": "Control the purchase of your products and services from your vendors",
  "header": "Create a new Purchase Order",
  "cancel": "Close",
  "save": "Save",
  "fields": {
    "vendor": "Vendor",
    "number": "Purchase Order Number#",
    "reference": "Reference#",
    "date": "Date",
    "expectedDate": "Expected Delivery Date",
    "discountLevel": {
      "label": "Discount Level",
      "0": "Line Level",
      "1": "Order Level"
    },
    "discountType": "Discount Type",
    "paymentTerm": "Payment Term"
  },
  "validation": {
    "required": "This field cannot be empty",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Crear órden de compra",
  "subtitle": "Controla la compra de tus productos y servicios desde tus proveedores",
  "header": "Crear una nueva orden de compra",
  "cancel": "Cancelar",
  "save": "Guardar",
  "fields": {
    "vendor": "Proveedor",
    "number": "Número de orden de compra#",
    "reference": "Referencia#",
    "date": "Fecha",
    "expectedDate": "Fecha de entrega estimada",
    "discountLevel": {
      "label": "Nivel de descuento",
      "0": "Por Linea",
      "1": "Por Orden"
    },
    "discountType": "Tipo de descuento",
    "paymentTerm": "Término de pago"
  },
  "validation": {
    "required": "Este campo es requerido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
