<!-- @format -->

<template>
  <v-container>
    <h4 class="text-h4">
      {{ t('title') }}
    </h4>
    <span class="text-subtitle-1">
      {{ t('subtitle') }}
    </span>
    <v-container> </v-container>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Profile",
  "subtitle": "Manage your profile account and preferences"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Perfil",
  "subtitle": "Administra tu perfil de cuenta y preferencias"
}
</i18n>
