<!-- @format -->

<template>
  <v-progress-linear :indeterminate="true" color="primary" />
</template>

<script setup lang="ts">
  import sessionStore from '@/stores/sessionStore';
  import { onMounted } from 'vue';
  import { useRouter } from 'vue-router';
  import userStore from '@/stores/userStore';

  const session = sessionStore();
  const router = useRouter();
  const user = userStore();
  onMounted(async () => {
    try {
      await session.manager.signoutRedirectCallback();
      user.delete();
    } catch {
      console.log('An error ocurred could not sign in.');
    } finally {
      await router.push('/');
    }
  });
</script>
