﻿<!-- @format -->

<template>
  <v-container fluid class="fill-height">
    <v-row class="fill-height">
      <v-col
        xl="9"
        lg="8"
        md="6"
        class="d-none d-md-flex flex-column justify-center align-center"
      >
        <v-img
          :src="logo"
          class="my-3"
          width="200"
          :alt="t('vendorDescription')"
        />
        <h4 class="text-center flex-grow-1 text-xs-h4 text-md-h3 text-lg-h2">
          {{ t('vendorDescription') }}
        </h4>
      </v-col>
      <v-col xl="3" lg="4" md="6" sm="12">
        <router-view v-slot="{ Component }">
          <v-fade-transition>
            <component :is="Component" />
          </v-fade-transition>
        </router-view>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
  import logo from '../../assets/logo.svg';
  import { useI18n } from 'vue-i18n';
  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "vendor": "ITProaser",
  "vendorDescription": "IT Products and Services"
}
</i18n>

<i18n locale="es" lang="json">
{
  "vendor": "ITProaser",
  "vendorDescription": "IT Productos y Servicios"
}
</i18n>
