<!-- @format -->

<template>
  <v-container>
    <v-card
      v-if="manufacturer"
      prepend-icon="mdi-chart-box-plus-outline"
      class="mt-4"
    >
      <template #title>
        {{ t('header', { name: manufacturer.name }) }}
      </template>
      <v-form v-model="form.valid" @submit.prevent="edit">
        <v-card-text>
          <v-alert
            v-if="form.message"
            class="mb-4"
            type="error"
            variant="tonal"
          >
            {{ t(`errors.${form.message}`) }}
          </v-alert>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="manufacturer.name"
                name="Name"
                required
                :rules="rules.name"
                :label="t('fields.name')"
                :counter="32"
                :readonly="form.loading"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="manufacturer.description"
                name="Description"
                :label="t('fields.description')"
                :counter="64"
                :readonly="form.loading"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <form-actions :valid="form.valid" :loading="form.loading" />
      </v-form>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
  import { useRoute, useRouter } from 'vue-router';
  import { reactive } from 'vue';
  import FormActions from '@/components/FormActions.vue';
  import { useI18n } from 'vue-i18n';
  import manufacturerStore from '@/stores/manufacturerStore';

  const store = manufacturerStore();
  const { t } = useI18n();

  const { id } = useRoute().params;
  const manufacturer = reactive({ ...store.get(id as string) });

  const form: {
    valid: boolean;
    message: string | null;
    loading: boolean;
  } = reactive({
    loading: false,
    message: null,
    valid: true
  });

  const router = useRouter();

  const rules = {
    name: [
      (v: string) => !!v || t('validation.required'),
      (v: string) => v.length < 32 || t('validation.maxLength', { length: 32 })
    ]
  };

  const edit = async event => {
    form.loading = true;
    form.message = null;
    const response = await store.edit(id as string, new FormData(event.target));
    if (response.success) return await router.push('/item-manufacturers');
    form.message = response.message;
    form.loading = false;
  };
</script>

<i18n locale="en" lang="json">
{
  "title": "Edit Manufacturer",
  "header": "Edit {name} Manufacturer",
  "fields": {
    "name": "Manufacturer Name",
    "description": "Description"
  },
  "validation": {
    "required": "This field cannot be empty",
    "minLength": "This field must be at least {length} characters long",
    "maxLength": "This field must be at most {length} characters long"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Editar Fabricante",
  "header": "Editar Fabricante {name}",
  "fields": {
    "name": "Nombre del Fabricante",
    "description": "Descripción"
  },
  "validation": {
    "required": "Este campo es requerido",
    "minLength": "Este campo debe tener al menos {length} caracteres",
    "maxLength": "Este campo no puede tener más de {length} caracteres"
  }
}
</i18n>
