<!-- @format -->

<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img :src="logo" class="my-3" contain height="200" />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          {{ t('title') }}
        </h1>

        <h4>{{ t('insiders') }} {{ version }}</h4>

        <p class="subheading font-weight-regular">
          {{ t('subtitle') }}
        </p>
      </v-col>

      <v-col v-if="!user.exists" class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-5">
          {{ t('next') }}
        </h2>
        <div class="d-flex justify-center align-center">
          <v-btn
            color="primary"
            size="large"
            tag="router-link"
            @click.stop="login"
          >
            {{ t('getStarted') }}
          </v-btn>
        </div>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-5">
          {{ t('important') }}
        </h2>
        <v-row justify="center">
          <v-btn
            color="primary"
            variant="text"
            href="https://itproaser.com/privacy"
            class="subheading mx-3"
            target="_blank"
          >
            {{ t('privacy') }}
          </v-btn>
          <v-btn
            color="primary"
            variant="text"
            href="https://itproaser.com/insiders-agreement"
            class="subheading mx-3"
            target="_blank"
          >
            {{ t('agreement') }}
          </v-btn>
        </v-row>
      </v-col>
      <v-col cols="12">
        <h2 class="headline font-weight-bold mb-5">
          {{ t('changelog') }}
        </h2>
      </v-col>
    </v-row>
    <v-timeline side="end">
      <template v-for="changelog in versions.reverse()" :key="changelog.number">
        <v-timeline-item size="large" class="mb-12" dot-color="primary">
          <template #opposite>
            <h4 class="text-h4">
              {{ changelog.number }}
            </h4>
          </template>
        </v-timeline-item>
        <v-timeline-item
          v-for="change in changelog.changes.reverse()"
          :key="change.name"
          class="mb-4"
          size="small"
          dot-color="secondary"
        >
          <div>
            <span class="text-subtitle-1">
              {{ t(`changelogs.${change.name}.title`) }}
            </span>
            <div>
              {{ t(`changelogs.${change.name}.description`) }}
            </div>
          </div>
        </v-timeline-item>
      </template>
    </v-timeline>
  </v-container>
</template>

<script setup lang="ts">
  import logo from '@/assets/products/inventory.256.png';
  import { useI18n } from 'vue-i18n';
  import { onMounted, ref } from 'vue';
  import sessionStore from '@/stores/sessionStore';
  import userStore from '@/stores/userStore';
  import companyStore from '@/stores/companyStore';

  const { t } = useI18n();

  const version = ref('');
  const session = sessionStore();
  const user = userStore();
  const company = companyStore();

  const login = async () => await session.manager.signinRedirect();

  onMounted(async () => {
    if (
      user.exists &&
      user.hasClaim('company') &&
      !company.hasProfile &&
      company.refresh
    )
      await company.download();
    const assembly = await fetch('/api/version');
    const raw: { version: string; informationalVersion: string } =
      await assembly.json();
    version.value = raw.informationalVersion;
  });

  const versions = [
    {
      number: '1.1.2',
      changes: [
        {
          name: 'user-info-mobile-friendly',
          context: '/'
        },
        {
          name: 'faster-translations',
          context: '/'
        }
      ]
    },
    {
      number: '1.1.3',
      changes: [
        {
          name: 'user-preferences-app',
          context: '/profile'
        }
      ]
    },
    {
      number: '1.1.4',
      changes: [
        {
          name: 'register-vendor',
          context: '/purchases/vendors'
        },
        {
          name: 'register-customer',
          context: '/sales/customers'
        }
      ]
    },
    {
      number: '1.1.5',
      changes: [
        {
          name: 'app-preferences-panel',
          context: '/'
        },
        {
          name: 'install-pwa',
          context: '/'
        }
      ]
    },
    {
      number: '1.1.6',
      changes: [
        {
          name: 'dev-purchase-orders',
          context: '/purchases/orders'
        },
        {
          name: 'dev-sales-orders',
          context: '/sales/orders'
        }
      ]
    }
  ];
</script>

<i18n locale="en" lang="json">
{
  "title": "Welcome to Inventory",
  "subtitle": "Inventory is part of the ITProaser platform, manage your items and their movements",
  "next": "What's next?",
  "important": "Important Links",
  "privacy": "Privacy Policy",
  "agreement": "Insiders Agreement",
  "getStarted": "Get started by logging in",
  "insiders": "Inventory Insiders",
  "changelog": "Changelog",
  "changelogs": {
    "user-info-mobile-friendly": {
      "title": "User information is now mobile friendly",
      "description": "Added a user information card on the app bar with quick links to manage your user profile and session."
    },
    "faster-translations": {
      "title": "Faster translations",
      "description": "The app should now load translations and render content slightly faster."
    },
    "user-preferences-app": {
      "title": "New user preferences for your app",
      "description": "New EXPERIMIENTAL user preferences for your app, change how your app looks"
    },
    "register-vendor": {
      "title": "Register a vendor",
      "description": "Register a vendor to your company for your purchases"
    },
    "register-customer": {
      "title": "Register a customer",
      "description": "Register a customer to your company for your sales"
    },
    "app-preferences-panel": {
      "title": "New app preferences panel",
      "description": "Change how the app looks and feels through an easy to access panel"
    },
    "install-pwa": {
      "title": "Install the App!",
      "description": "You can now install the Inventory app right into your device"
    },
    "dev-purchase-orders": {
      "title": "Preview of purchase orders",
      "description": "We're adding purchase orders to your purchases module"
    },
    "dev-sales-orders": {
      "title": "Preview of sales orders",
      "description": "We're adding sales orders to your sales module"
    }
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "Bienvenido a Inventory",
  "subtitle": "Inventory es parte de la plataforma de ITProaser, administra tus artículos y sus movimientos",
  "next": "¿Qué sigue?",
  "important": "Links importantes",
  "privacy": "Política de privacidad",
  "agreement": "Acuerdo de uso",
  "getStarted": "Comience a usarlo por iniciar sesión",
  "insiders": "Inventory Insiders",
  "changelog": "Registro de cambios",
  "changelogs": {
    "user-info-mobile-friendly": {
      "title": "La información del usuario ahora es compatible con dispositivos móviles",
      "description": "Añadido una tarjeta de información del usuario en la barra de la aplicación con enlaces rápidos para administrar su perfil de usuario y sesión."
    },
    "faster-translations": {
      "title": "Traducciones más rápidas",
      "description": "La aplicación debe ahora cargar traducciones y renderizar contenido un poco más rápido."
    },
    "user-preferences-app": {
      "title": "Nuevas preferencias de usuario para su aplicación",
      "description": "Nuevas preferencias EXPERIMENTALES de usuario para su aplicación, cambie cómo su aplicación se ve"
    },
    "register-vendor": {
      "title": "Registrar un proveedor",
      "description": "Registrar un proveedor a su empresa para sus compras"
    },
    "register-customer": {
      "title": "Registrar un cliente",
      "description": "Registrar un cliente a su empresa para su venta"
    },
    "app-preferences-panel": {
      "title": "Nuevo panel de preferencias de la aplicación",
      "description": "Cambie cómo la aplicación se ve y sienta a través de un panel fácil de acceso"
    },
    "install-pwa": {
      "title": "Instalar la aplicación!",
      "description": "Ahora puede instalar la aplicación de Inventory en su dispositivo"
    },
    "dev-purchase-orders": {
      "title": "Vista previa de órdenes de compra",
      "description": "Estamos añadiendo órdenes de compra a su módulo de compras"
    },
    "dev-sales-orders": {
      "title": "Vista previa de órdenes de venta",
      "description": "Estamos añadiendo órdenes de venta a su módulo de ventas"
    }
  }
}
</i18n>
