<!-- @format -->

<template>
  <v-container class="d-flex flex-column justify-center align-center">
    <router-view v-slot="{ Component }">
      <v-scroll-x-transition>
        <component :is="Component" />
      </v-scroll-x-transition>
    </router-view>
    <v-container>
      <v-img :src="image" height="300" />
    </v-container>
  </v-container>
</template>

<script setup lang="ts">
  import image from '@/assets/img/opps.svg';
</script>
