<!-- @format -->

<template>
  <v-container
    class="fill-height d-flex flex-column justify-center align-center"
  >
    <h3 class="text-h1 font-weight-medium text-primary">404</h3>
    <h5 class="text-h5">
      {{ t('title') }}
    </h5>
    <span class="text-subtitle-1">
      {{ t('subtitle') }}
    </span>
  </v-container>
</template>

<script setup lang="ts">
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
</script>

<i18n locale="en" lang="json">
{
  "title": "Not found",
  "subtitle": "The requested page was not found"
}
</i18n>
<i18n locale="es" lang="json">
{
  "title": "No encontrado",
  "subtitle": "La página solicitada no fue encontrada"
}
</i18n>
