<!-- @format -->

<template>
  <v-app>
    <app-layout />
    <v-main>
      <v-banner
        v-if="!installed && deferredPrompt !== null"
        border="start"
        lines="one"
        icon="mdi-flash"
      >
        <v-banner-text>
          {{ t('install.description') }}
        </v-banner-text>
        <template #actions>
          <v-btn @click.stop="prompt">
            {{ t('install.label') }}
          </v-btn>
        </template>
      </v-banner>
      <v-container v-if="errors.current">
        <v-alert density="comfortable" type="error" variant="tonal">
          <div class="d-flex justify-space-between align-center">
            <span>
              {{ errors.current }}
            </span>
            <v-btn variant="outlined" @click="errors.close()">
              {{ t('close') }}
            </v-btn>
          </div>
        </v-alert>
      </v-container>
      <router-view v-slot="{ Component }">
        <v-scroll-x-transition>
          <component :is="Component" />
        </v-scroll-x-transition>
      </router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
  import AppLayout from '@/components/AppLayout.vue';
  import { useI18n } from 'vue-i18n';
  import errorStore from '@/stores/errorStore';
  import { onMounted, ref } from 'vue';
  import sessionStore from '@/stores/sessionStore';
  import userStore from '@/stores/userStore';

  const { t } = useI18n();
  const errors = errorStore();
  const media = window.matchMedia('(display-mode: standalone)');
  const installed = ref(media.matches);
  media.addEventListener('change', () => (installed.value = media.matches));
  const deferredPrompt = ref<Event | null>(null);
  const session = sessionStore();
  const user = userStore();

  onMounted(async () => {
    window.addEventListener('beforeinstallprompt', e => {
      e.preventDefault();
      deferredPrompt.value = e;
    });
    const profile = await session.getUser();
    if (user.exists && profile === null) user.delete();
    if (user.exists && profile !== null && !profile.expired) return;
    if (profile !== null && !profile.expired)
      await user.request(profile.access_token);
    if (profile !== null && profile.expired) user.delete();
  });
  const prompt = async () => {
    if (deferredPrompt.value === null) return;
    deferredPrompt.value.prompt();
  };
</script>

<i18n locale="en" lang="json">
{
  "close": "Close",
  "install": {
    "label": "Install",
    "title": "Try out the app!",
    "description": "You can install Inventory on your device"
  }
}
</i18n>
<i18n locale="es" lang="json">
{
  "close": "Cerrar",
  "install": {
    "label": "Instalar",
    "title": "Prueba la app!",
    "description": "Puedes instalar Inventory en tu dispositivo"
  }
}
</i18n>
